@page 
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@model EditModel
@{
    ViewData["Title"] = "Credentials Managment";
    var displayDivClient = "display:none";
}
<script>
    function show() {
        /* Get image and change value 
        of src attribute */
        let div = document.getElementById("add-block");
        let img = document.getElementById("add-img-block");
        if (div.style.display == "block") {
            div.style.display = "none";
            img.src = "/images/right-triangle.png";
        }
        else {
            div.style.display = "block";
            img.src = "/images/bottom-triangle.png";
        }
    }
    function showClientDiv(divId, element)
    {
        document.getElementById(divId).style.display = element.value == 3 ? 'block' : 'none';
    }
</script>
<h1>@ViewData["Title"]</h1>
<div id="error">
    <span class="error">
@if (Model._credentialEdit != null && Model._credentialEdit!.ExceptionMessage != null)
{    
    @Model._credentialEdit!.ExceptionMessage
}
    </span>
</div>

@if (Model._credentialEdit != null && Model._credentialEdit!.CanAccess)
{
<h3>Edit credential</h3>
<div id="add-block" class="shadowbox">
<form method="post">
    <div class="form-group" style="display:none">
    <input asp-for="_credentialEdit!.Pass" class="form-control"/>
    </div>

    <table>
    <tr>
    <td>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label for="Id">Id</label>
    </td>
    <td>
        <div class="form-group">
        @Html.DisplayFor(model => model._credentialEdit!.Id)
        <input type="hidden" asp-for="_credentialEdit!.Id" class="form-control"/>
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label for="Ident">Ident</label>
    </td>
    <td>
        <div class="form-group">
        <input asp-for="_credentialEdit!.Ident" class="form-control"/>
        <span asp-validation-for="_credentialEdit!.Ident" class="text-danger"></span>
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <label for="Password">New Password</label>
    </td>
    <td>
        <input type="password" asp-for="_credentialEdit!.PassNew" />
    </td>
    </tr>
    <tr>
    <td>
        <label for="State">State</label>
    </td>
    <td>
        <div class="form-group"> 
        <select asp-for="_credentialEdit!.State" asp-items="Html.GetEnumSelectList<StateCredential>()">
            <option value="">Choose a State</option>
        </select>
        <span asp-validation-for="_credentialEdit!.State" class="text-danger"></span>
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <label for="RoleIdent">Role</label>
    </td>
    <td>
        <div class="form-group">
        <select asp-for="_credentialEdit!.RoleIdent" asp-items="Html.GetEnumSelectList<RoleCredential>()" onchange="showClientDiv('client_div', this)" >
            <option value="">Choose a Role</option>
        </select>
        <span asp-validation-for="_credentialEdit!.RoleIdent" class="text-danger"></span>
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <label for="CreationDate">Creation Date </label>
    </td>
    <td>
        <div class="form-group">
        @Html.DisplayFor(model => model._credentialEdit!.CreationDate)
        <input type="hidden" asp-for="_credentialEdit!.CreationDate" class="form-control"/>
        </div>
    </td>
    </tr>
    <tr>
    <td>
        <label for="LastIdent">Last Ident </label>
    </td>
    <td>
        <div class="form-group">
        @Html.DisplayFor(model => model._credentialEdit!.LastIdent)
        <input type="hidden" asp-for="_credentialEdit!.LastIdent" class="form-control"/>
        </div>
    </td>
    </tr>
    </table>
    @if (Model._credentialEdit.RoleIdent != RoleCredential.Client)  
    {
        displayDivClient = "display:none";
    }
    else
    {
        displayDivClient = "display:block";
    }
        <div id="client_div" class="client_id" style=@displayDivClient>    

        <table>
        <tr>
        <td>
                <label for="NbMaxRenew">Nb max nenew</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.NbMaxRenew" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.NbMaxRenew" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="TokenMaxMinuteValidity">Max validity of token in min</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.TokenMaxMinuteValidity" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.TokenMaxMinuteValidity" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="RefreshMaxMinuteValidity">Max validity of refresh token in min</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.RefreshMaxMinuteValidity" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.RefreshMaxMinuteValidity" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="Scopes">Allowed Scopes (white space separator)</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.AllowedScopes" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.AllowedScopes" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="Audiences">Audiences (white space separator)</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.Audiences" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.Audiences" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="RedirectUri">Redirect Uri</label>
        </td>
        <td>
                <div class="form-group">
                <input asp-for="_credentialEdit!.RedirectUri" class="form-control"/>
                <span asp-validation-for="_credentialEdit!.RedirectUri" class="text-danger"></span>
                </div>
        </td>
        </tr>
        <tr>
        <td>
                <label for="AuhtorizationCode">Authorization Code</label>
        </td>
        <td>
                @Html.DisplayFor(model => model._credentialEdit!.AuthorizationCode)
                <input type="hidden" asp-for="_credentialEdit!.AuthorizationCode" class="form-control"/>
        </td>
        </tr>
        <tr>
        <td>
                <label for="KeyType">Algo of Key</label>
        </td>
        <td>
                <div class="form-group">
                <select asp-for="_credentialEdit!.KeyType" asp-items="Html.GetEnumSelectList<AlgoKeyType>()">
                    <option value="">Choose an algo</option>
                </select>
                <span asp-validation-for="_credentialEdit!.KeyType" class="text-danger"></span>
                </div>
        </td>
        </tr>
        </table>
    </div>
            <input type="submit" value="Update"/>
</form>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}