@page "/credentials"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject ICredentialBusiness CredentialBusiness
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Credentials Managment - TinyIDP</PageTitle>

<h1>Credentials Managment</h1>

<div id="error">
    <span class="error">
        @if (credentialCreate != null && credentialCreate.ExceptionMessage != null)
        {
            @credentialCreate.ExceptionMessage
        }
    </span>
</div>

@if (credentialCreate != null && credentialCreate.CanAccess)
{
    <a href="/credentials/create" class="btn btn-primary">Add credential</a>

    <h3>List of credentials</h3>
    <div id="list" class="shadowlist">
        <form action="/credentials" data-enhance data-permanent>
            <p>
                <table>
                    <tr>
                        <td>Ident:</td>
                        <td><InputText type="text" @bind-value="SearchIdent" /></td>
                        <td><label for="State">State</label></td>
                        <td>
                            <InputSelect @bind-value="SearchStateValue">
                                <option value="0" disabled selected>Choose a State</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">Suspended</option>
                            </InputSelect>
                        </td>
                        <td><input type="submit" /></td>
                    </tr>
                </table>
            </p>
        </form>

        @if (filteredCredentials == null)
        {
            <p><em>Chargement...</em></p>
        }
        else if (filteredCredentials.Count == 0)
        {
            <p>Aucune credential trouvée.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ident</th>
                        <th>RoleIdent</th>
                        <th>State</th>
                        <th>KeyType</th>
                        <th>NbMaxRenew</th>
                        <th>TokenMaxMinuteValidity</th>
                        <th>RefreshMaxMinuteValidity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in filteredCredentials)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Ident</td>
                            <td>@item.RoleIdent</td>
                            <td>@item.State</td>
                            <td>@item.KeyType</td>
                            <td>@item.NbMaxRenew</td>
                            <td>@item.TokenMaxMinuteValidity</td>
                            <td>@item.RefreshMaxMinuteValidity</td>
                            <td>
                                <a href="@($"/credentials/edit/{item.Id}")">Edit</a> |
                                <a href="@($"/credentials/delete/{item.Id}")">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}

@code {
    private List<CredentialView>? filteredCredentials;
    private CredentialCreateModel? credentialCreate;
    [SupplyParameterFromQuery]
    public string? SearchIdent { get; set; }
    [SupplyParameterFromQuery]
    public int? SearchStateValue { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        credentialCreate = new CredentialCreateModel();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Claims.Role() != RoleCredential.Admin && authState.User.Claims.Role() != RoleCredential.User)
        {
            credentialCreate.ExceptionMessage = "You don't have rights to access";
            credentialCreate.CanAccess = false;
        }
        else
        {
            credentialCreate.CanAccess = true;
        }
        try
        {
            List<CredentialBusinessEntity> credentials;

            // Filter by state if provided
            if (SearchStateValue.HasValue)
            {
                credentials = await CredentialBusiness.SearchByState(state: SearchStateValue.Value);
            }
            else
            {
                credentials = await CredentialBusiness.GetAll();
            }

            // Filter by ident if provided
            if (!string.IsNullOrEmpty(SearchIdent))
            {
                credentials = credentials.Where(x => x.Ident.Contains(SearchIdent)).ToList();
            }

            filteredCredentials = credentials.Select(p => p.ToModelView()).ToList();
        }
        catch (Exception ex)
        {
            credentialCreate ??= new CredentialCreateModel();
            credentialCreate.ExceptionMessage = ex.Message;
        }


    }

}
