@page "/credentials/edit/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject ICredentialBusiness CredentialBusiness
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Credentials Management - TinyIDP</PageTitle>

<h1>Credentials Management</h1>

<div id="error">
    <span class="error">
        @if (credentialEdit != null && credentialEdit.ExceptionMessage != null)
        {
            @credentialEdit.ExceptionMessage
        }
    </span>
</div>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (credentialEdit != null && credentialEdit.CanAccess && !isLoading)
{
    <a href="@($"/certificates/create/{credentialEdit.Id}")">Add certificate</a>

    <h3>Edit credential</h3>
    <div id="add-block" class="shadowbox">
        <EditForm Model="credentialEdit" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <table>
                <tr>
                    <td>
                        <label for="Id">Id</label>
                    </td>
                    <td>
                        <div class="form-group">
                            @credentialEdit.Id
                            <!--InputNumber id="IdHidden" @bind-Value="credentialEdit.Id" style="display:none !important;" /-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Ident">Ident</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <InputText id="Ident" @bind-Value="credentialEdit.Ident" class="form-control" />
                            <ValidationMessage For="@(() => credentialEdit.Ident)" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="PassNew">New Password</label>
                    </td>
                    <td>
                        <InputText id="PassNew" @bind-Value="credentialEdit.PassNew" class="form-control" type="password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="State">State</label>
                    </td>
                    <td>
                        <div class="form-group">
                            <InputSelect id="State" @bind-Value="credentialEdit.State" class="form-control">
                                <option value="">Choose a State</option>
                                @foreach (var value in Enum.GetValues(typeof(StateCredential)))
                                {
                                    <option value="@value">@value</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => credentialEdit.State)" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="RoleIdent">Role</label></td>
                    <td>
                        <div class="form-group">
                            <select id="RoleIdent" 
                                class="form-control" 
                                @onchange="OnRoleChanged">
                            <option value="">Choose a Role</option>
                            @foreach (RoleCredential value in Enum.GetValues<RoleCredential>())
                            {
                                <option value="@((int)value)" selected="@(credentialEdit.RoleIdent == value)">
                                    @value
                                </option>
                            }
                            </select>
                            <ValidationMessage For="@(() => credentialEdit.RoleIdent)" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CreationDate">Creation Date</label>
                    </td>
                    <td>
                        <div class="form-group">
                            @credentialEdit.CreationDate
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="LastIdent">Last Ident</label>
                    </td>
                    <td>
                        <div class="form-group">
                            @credentialEdit.LastIdent
                        </div>
                    </td>
                </tr>
            </table>

            @if (credentialEdit.RoleIdent == RoleCredential.Client)
            {
                <div id="client_div" class="client_id">
                    <table>
                        <tr>
                            <td>
                                <label for="NbMaxRenew">Nb max renew</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputNumber id="NbMaxRenew" @bind-Value="credentialEdit.NbMaxRenew" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.NbMaxRenew)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="TokenMaxMinuteValidity">Max validity of token in min</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputNumber id="TokenMaxMinuteValidity" @bind-Value="credentialEdit.TokenMaxMinuteValidity" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.TokenMaxMinuteValidity)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="RefreshMaxMinuteValidity">Max validity of refresh token in min</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputNumber id="RefreshMaxMinuteValidity" @bind-Value="credentialEdit.RefreshMaxMinuteValidity" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.RefreshMaxMinuteValidity)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="AllowedScopes">Allowed Scopes (white space separator)</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputText id="AllowedScopes" @bind-Value="credentialEdit.AllowedScopes" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.AllowedScopes)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Audiences">Audiences (white space separator)</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputText id="Audiences" @bind-Value="credentialEdit.Audiences" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.Audiences)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="RedirectUri">Redirect Uri</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputText id="RedirectUri" @bind-Value="credentialEdit.RedirectUri" class="form-control" />
                                    <ValidationMessage For="@(() => credentialEdit.RedirectUri)" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="AuthorizationCode">Authorization Code</label>
                            </td>
                            <td>
                                @credentialEdit.AuthorizationCode
                                <InputText id="AuthorizationCodeHidden" @bind-Value="credentialEdit.AuthorizationCode" class="form-control" style="display:none;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="KeyType">Algo of Key</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <InputSelect id="KeyType" @bind-Value="credentialEdit.KeyType" class="form-control">
                                        <option value="">Choose an algo</option>
                                        @foreach (var value in Enum.GetValues(typeof(AlgoKeyType)))
                                        {
                                            <option value="@value">@value</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => credentialEdit.KeyType)" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }

            <button type="submit" class="btn btn-primary">Update</button>
        </EditForm>
    </div>
    <div id="certiticates">
    <br>
    <h4>Certificates</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    DN
                </th>
                <th>
                    Issuer
                </th>
                <th>
                    Serial
                </th>
                <th>
                    State
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in credentialEdit.Certificates) {
            <tr>
                <td>
                    <a href="@($"/certificates/edit/{item.Id}")">@item.Dn</a>
                </td>
                <td>
                    @item.Issuer
                </td>
                <td>
                    @item.Serial
                </td>
                <td>
                    @item.State
                </td>
                        <td>
                            <a href="@($"/certificates/delete/{item.Id}")">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private CredentialEditModel? credentialEdit;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            
            credentialEdit = new CredentialEditModel();
            
            if (authState.User.Claims.Role() != RoleCredential.Admin)
            {
                credentialEdit.ExceptionMessage = "You don't have rights to access";
                credentialEdit.CanAccess = false;
            }
            else
            {
                var result = CredentialBusiness.GetWithCertificates(Id);
                credentialEdit = result.ToModelEdit();
                credentialEdit.CanAccess = true;
            }
        }
        catch (Exception ex)
        {
            credentialEdit ??= new CredentialEditModel();
            credentialEdit.ExceptionMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }

    private void OnRoleChanged(ChangeEventArgs e)
    {
        if (e.Value != null && credentialEdit != null)
        {
            var value = e.Value.ToString();
            if (!string.IsNullOrEmpty(value))
            {
                credentialEdit.RoleIdent = (RoleCredential)Enum.Parse(typeof(RoleCredential), value);
            }
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            if (credentialEdit != null)
            {
                CredentialBusiness.Update(credentialEdit.ToBusiness());
                Navigation.NavigateTo("/credentials");
            }
        }
        catch (Exception ex)
        {
            if (credentialEdit != null)
            {
                credentialEdit.ExceptionMessage = $"{ex.Message} - {ex.InnerException?.Message}";
            }
        }
    }
}
