@page "/truststore"
@using Microsoft.AspNetCore.Authorization
@using tinyidp.Business.BusinessEntities
@using tinyidp.Pages.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@inject ITrustStoreService TrustStoreService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>TrustStore Management - TinyIDP</PageTitle>

<h1>TrustStore Management</h1>

<div id="error">
    <span class="error">
        @if (trustStoreCreateModel != null && !string.IsNullOrEmpty(trustStoreCreateModel.ExceptionMessage))
        {
            @trustStoreCreateModel.ExceptionMessage
        }
    </span>
</div>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (trustStoreCreateModel != null && trustStoreCreateModel.CanAccess && !isLoading)
{
    <a href="/truststore/create">Add CA</a>

    <h3>List of CA Trusted</h3>
    <div id="list" class="shadowlist">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DN</th>
                    <th>Issuer</th>
                    <th>Validity Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in TrustStoreView)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Dn</td>
                        <td>@item.Issuer</td>
                        <td>@item.ValidityDate</td>
                        <td>
                            <a href="@($"/truststore/delete/{item.Id}")">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<TrustStoreViewModel> TrustStoreView = new();
    private TrustStoreCreateModel? trustStoreCreateModel;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            
            trustStoreCreateModel = new TrustStoreCreateModel();
            
            if (authState.User.Claims.Role() != RoleCredential.Admin && authState.User.Claims.Role() != RoleCredential.User)
            {
                trustStoreCreateModel.ExceptionMessage = "You don't have rights to access";
                trustStoreCreateModel.CanAccess = false;
            }
            else
            {
                trustStoreCreateModel.CanAccess = true;
                List<TrustStoreBusiness> store = await TrustStoreService.GetAllCaTrusted();
                TrustStoreView = store.Select(p => p.ToModelView()).ToList();
            }
        }
        catch (Exception ex)
        {
            trustStoreCreateModel ??= new TrustStoreCreateModel();
            trustStoreCreateModel.ExceptionMessage = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
}
